body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:600; 
    font-style: normal;
    color: #f7f9fb;
    padding: 0;
    margin: 0;
    letter-spacing: 1.5px;

}
html{
    scroll-behavior: smooth;
}
section{
    min-height: 100vh;
    box-sizing: border-box;  
}
h1{
    font-size: 30px;
    color:darkviolet;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0px;
}
h2{
    font-size: 25px;
    color:#f7f9fb;
    text-align: center;
    padding: 0px;
}
h3{
    font-size: 18px;
    color:black;
    text-align: center;
}
p{
    color: #bbb0b0;
    font-size: 13px;
    text-align: center;
}
i{
    color:coral;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
}
i:hover,i:focus{
    font-size: 55px;
    color:darkviolet;   
   
}
div{
    padding: 8px;
    justify-content: center;
}
.caja {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: double;
    border-left-style: double;
  }
  
  
footer{
    background-color: rgba(21, 21, 54, 0.96);
    display: flex;
    flex-direction: row;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}
footer img{
    height: 40px;
    width: 40px;
}
#menu {
    background-image: linear-gradient(21deg,rgba(125, 139, 176, 1)0%,rgba(21, 21, 54, 0.96) 20%, rgba(8, 16, 33, 1) 40%, rgba(125, 139, 176, 1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(4, 140px) 70px;
    grid-template-rows: repeat(4, 140px);
    justify-content: center;
    align-content: center;
    grid-template-areas: 
        "about about posts posts ."
        "about about projects projects ."
        "about about contact contact redes"
        "name name name name .";
    gap: 20px; /* <<< aquí agregas espacio entre celdas */
}

#menu .tile {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 5px;
}


#menu .tile .front,
#menu .tile .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#menu .tile a{
    text-decoration: none;
}
#menu .tile .front{
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    z-index: 2;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    /*border: 3px solid white;*/ 
    cursor: pointer;
    border-color: white;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: double;
    border-left-style: double;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.9);
  
}

#menu .tile:hover .front{
    transform: translateY(-100%); 
   
}
#menu .social-tile{
    text-align:center;
    background-color: rgba(8, 16, 33, 0.4);
    border-radius: 40px;
    margin-left: 30px;
    padding-bottom: 20px;
   }

#menu .tile .back{
    background-color:rgba(21, 21, 54, 0.96);
    color:#f7f9fb;
    display: grid;
    justify-items: center;
    align-items: center;
    z-index: 1;
    height: 100%;
    font-weight: bold;
    font-size: 25px;   
    border-radius: 9px;
}
#menu .about-tile .front{
    background-image: url(images/imagenflat2.png);
   
}
#menu .projects-tile .front{
    background-image: url(images/proyectos.jpg);
   
}
#menu .posts-tile .front{ 
    background-image: url(images/dibujolenguajes.png);
   
}
#menu .contact-tile .front{
    background-image: url(images/contact2.jpg);
    
}


.about-tile{
    grid-area: about;
}
.projects-tile{
    grid-area: projects;
}
.posts-tile{
    grid-area: posts;
}
.contact-tile{
    grid-area: contact;
}
.name-tile{
    grid-area: name;
}
.social-tile{
    grid-area: redes;
    
}


/* +++++++*/

#about {
    background-image: linear-gradient(21deg,rgba(21, 21, 54, 0.96) 0%, rgba(8, 16, 33, 1) 35%, rgba(125, 139, 176, 1) 100%);
    text-align: center;
    
}
#about .tile{
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 13px;
}
#about .tile-2{
    width: 950px;
    text-align: center;
    border: 2px solid darkviolet;
    margin: 10px 30px 10px 30px;
    padding: 10px;
    justify-self: center;
}
#about .tile-2 img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

/*..................*/

#posts{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
  
}

#posts .content-p{
    padding: 5px;
    box-sizing: border-box;
    background-image: linear-gradient(21deg,rgba(21, 21, 54, 0.96) 0%, rgba(8, 16, 33, 1) 35%, rgba(125, 139, 176, 1) 100%);
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 13px;  
}
#posts .div-habilidades{
    grid-column: 2;
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:130px 1fr 1fr;
    align-items: center;
    padding: 10px;
    border: 2px solid darkviolet;
}
#posts .div-1{
    grid-column: 1/ 5; 
    grid-row: 1;
}

#posts .div-2 { 
    grid-column: 1;
    grid-row: 2; 
}
#posts .div-3{ 
    grid-column: 2; 
    grid-row: 2; 
}
#posts .div-4{ grid-column: 3; grid-row: 2; }
#posts .div-5{ grid-column: 4; grid-row: 2; }
#posts .div-6{ grid-column: 1; grid-row: 3; }
#posts .div-7{ grid-column: 2; grid-row: 3; }
#posts .div-8{ grid-column: 3; grid-row: 3; }
#posts .div-9{ grid-column: 4; grid-row: 3; }

#posts .div-herramientas{
    grid-column: 1;
    text-align:justify;
    padding: 5px;
    border: 2px solid darkviolet;

}
#posts .div-bla{
    grid-column: 3;
    text-align:justify;
    padding: 5px;
    border: 2px solid darkviolet;
}
/*...........*/
#projects{
    background-image: linear-gradient(21deg,rgba(21, 21, 54, 0.96) 0%, rgba(8, 16, 33, 1) 35%, rgba(125, 139, 176, 1) 100%);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 120px 1fr;
    align-items: center;
    padding: 15px;
}
#projects .main-photo{
    grid-column: 1/5;
    grid-row: 1;
 

}
#projects .tile{
    text-align: center;
    padding: 15px 10px 15px 10px;
    margin: 5px 20px 0px 20px;
    border-radius: 5px;
    border:2px solid darkviolet;
}
#projects .tile img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px; 
}


/*..........*/
#contact{
    background-image: linear-gradient(21deg,rgba(21, 21, 54, 0.96) 0%, rgba(8, 16, 33, 1) 35%, rgba(125, 139, 176, 1) 100%);
    display: flex;
}
.form{
    background-color: rgba(125, 139, 176, 1);
    border: 2px solid darkviolet;
    width: 90%;
    margin: auto;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
}
.form-container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 95%;
}
.form-title{
    text-align: center;
    font-size: 13px;
    margin-bottom: .4em;
}

input{
    font-family:inherit;
    font-size: 13px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid darkviolet;
    border-radius: 5px;
}
label{
    font-size: 14px;
    color: black;
}


@media (max-width:850px){
    #about .tile-2{
        width: 700px;
        
    }
    #projects{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 130px 1fr 1fr;
        
    }
    
    #projects .main-photo{
        grid-column: 1/3;
        grid-row: 1;
    
    }
    #projects .tile img {
        width: 200px;
        height: 120px;
        
    }
    #projects .photo-1{
        grid-column: 1;
        grid-row: 2;
    }
    #projects .photo-2{
        grid-column: 2;
        grid-row: 2;
    }
    #projects .photo-3{
        grid-column: 1;
        grid-row: 3;
    }
    #projects .photo-4{
        grid-column: 2;
        grid-row: 3;
    }
   
}

@media (max-width:768px){
    
    
    #menu{
        grid-template-columns: 200px 200px 80px;
        grid-template-rows: repeat(3, 200px);
        grid-template-areas: 
        "about posts ."
        "projects contact redes"
        "name name  ."   
    }
    #menu .tile .back {
        font-size: 20px;
    }  
    #menu .about-tile .front,
    #menu .projects-tile .front,
    #menu .posts-tile .front,
    #menu .contact-tile .front {
    
    opacity: 0.3; 
   
    }
    
    #about .tile-2 img{
            width: 150px;
            height: 150px;
        }
        i{ 
            font-size: 40px;
            font-weight: 400;
        }
        
        #posts{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr 1fr;
            grid-template-areas: 
            "herramientas"
            "habilidades"
            "blandas";
            
        }
        
       #posts .div-herramientas{
        grid-area: herramientas;
       }
        #posts .div-habilidades{
            grid-area: habilidades;
            grid-row: 2;
            display: grid;
            grid-template-columns:repeat(2, 1fr);
            grid-template-rows:130px 1fr 1fr 1fr 1fr;
            align-items: center;
            padding: 10px;
        }
        #posts .div-1{
            grid-column: 1/ 3; 
            grid-row: 1;
        }
        
        #posts .div-2 { 
            grid-column: 1;
            grid-row: 2; 
        }
        #posts .div-3{ 
            grid-column: 2; 
            grid-row: 2; 
        }
        #posts .div-4{ grid-column: 1; grid-row: 3; }
        #posts .div-5{ grid-column: 2; grid-row: 3; }
        #posts .div-6{ grid-column: 1; grid-row: 4; }
        #posts .div-7{ grid-column: 2; grid-row: 4; }
        #posts .div-8{ grid-column: 1; grid-row: 5; }
        #posts .div-9{ grid-column: 2; grid-row: 5; }
        
        #posts .div-bla{
            grid-area: blandas;
        }
       
       
}
@media (max-width:450px){
   
    .hiden{
        display: none;
     }
    #menu{
        grid-template-columns: 150px 150px;
        grid-template-rows: 150px 150px 60px 160px;
        grid-template-areas: 
        "about posts "
        "projects contact"
        "redes redes"
        "name name  "
       
    }
    #menu .tile .back {
        font-size: 16px;
    }  
    
    #menu .social-tile{
        display: flex;
        margin: 5px;
        
    }
    #about .tile-2{
        width: 350px;
        
    }
    #about .tile-2 img{
            width: 130px;
            height: 130px;
            border-radius: 50%;
            object-fit: cover;
     }
     #posts .div-habilidades{
       display: flex;
       flex-direction: column;
       
    }

    #projects{
      display: flex;
      flex-direction: column;
    }
}