body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:600; 
    font-style: normal;
    padding: 0;
    margin: 0;
    letter-spacing: 1.5px;

}

html{
    scroll-behavior: smooth;
}
section{
    min-height: 100vh;
    box-sizing: border-box;
    
}
h1{
    font-size: 30px;
    color:#143D60;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0px;
}
h2{
    font-size: 25px;
    color:black;
    text-align: center;
}
h3{
    font-size: 18px;
    color:black;
    text-align: center;
}
p{
    font-size: 13px;
    text-align: center;
}
i{
    color:#143D60;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
}
i:hover{
    font-size: 55px;
    color:crimson;   
   
}
div{
    padding: 5px;
}
#menu{
    background-image: url(images/fondodistinto3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(4, 150px);
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    "about about posts posts ."
    "about about projects projects ."
    "about about contact contact redes"
    "name name name name ."
   
}
#menu .tile{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;

}
#menu .tile .front,
#menu .tile .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#menu .tile a{
    text-decoration: none;
}
#menu .tile .front{
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    z-index: 2;
    transition: transform 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    border: 3px solid white; 
   
  
}

#menu .tile:hover .front{
    transform: translateY(-100%); 
}

#menu .tile .back{
    background-color:crimson;
    color:black;
    display: grid;
    justify-items: center;
    align-items: center;
    z-index: 1;
    height: 100%;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
   
}
#menu .about-tile .front{
    background-image: url(images/imagenflat2.png);
   
}
#menu .projects-tile .front{
    background-image: url(images/proyectos.jpg);
   
}
#menu .posts-tile .front{ 
    background-image: url(images/dibujolenguajes.png);
   
}
#menu .contact-tile .front{
    background-image: url(images/contact2.jpg);
    
}


.about-tile{
    grid-area: about;
}
.projects-tile{
    grid-area: projects;
}
.posts-tile{
    grid-area: posts;
}
.contact-tile{
    grid-area: contact;
}
.name-tile{
    grid-area: name;
}
.social-tile{
    grid-area: redes;
    
}


/* +++++++*/

#about {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 10px;
}
#about .tile{
    padding: 20px;
    box-sizing: border-box;
    background-color: #F0F1C5;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 13px;
}
#about .tile-1{
grid-column: 1 / 2;

}

#about .tile-2{
grid-column: 2 /3;
}
#about .tile-2 img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

/*..................*/

#posts{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 10px;
    
}

#posts .content-p{
    padding: 5px;
    box-sizing: border-box;
    background-color:#F0F1C5;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 13px;  
}
#posts .div-habilidades{
    grid-column: 2;
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:130px 1fr 1fr;
    align-items: center;
    padding: 10px;
}
#posts .div-1{
    grid-column: 1/ 5; 
    grid-row: 1;
}

#posts .div-2 { 
    grid-column: 1;
    grid-row: 2; 
}
#posts .div-3{ 
    grid-column: 2; 
    grid-row: 2; 
}
#posts .div-4{ grid-column: 3; grid-row: 2; }
#posts .div-5{ grid-column: 4; grid-row: 2; }
#posts .div-6{ grid-column: 1; grid-row: 3; }
#posts .div-7{ grid-column: 2; grid-row: 3; }
#posts .div-8{ grid-column: 3; grid-row: 3; }
#posts .div-9{ grid-column: 4; grid-row: 3; }

#posts .div-herramientas{
    grid-column: 1;
    text-align:justify;
    padding: 5px;

}
#posts .div-bla{
    grid-column: 3;
    text-align:justify;
    padding: 5px;

}
/*...........*/
#projects{
    background-color: #F0F1C5;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 130px 1fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 10px;
    margin: 10px;

}

#projects .main-photo{
    grid-column: 1/5;
    grid-row: 1;

}
#projects .tile img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px; /* opcional, si querés que tenga bordes redondeados */
}


/*..........*/
#contact{
    background-color: #F0F1C5;
    padding: 20px;
    margin: 10px;
    display: flex;
}
.form{
    background-image: url(images/fondodistinto3.png);
    border-color: 2px solid black;
    width: 90%;
    margin: auto;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
}
.form-container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}
.form-title{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}
.form-input{
   
    font-family:inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 5px;
}
.form-cta{
    font-family:inherit;
}

@media (max-width:850px){
    #projects{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 130px 1fr 1fr;
        
    }
    
    #projects .main-photo{
        grid-column: 1/3;
        grid-row: 1;
    
    }
    #projects .tile img {
        width: 200px;
        height: 120px;
        
    }
    #projects .photo-1{
        grid-column: 1;
        grid-row: 2;
    }
    #projects .photo-2{
        grid-column: 2;
        grid-row: 2;
    }
    #projects .photo-3{
        grid-column: 1;
        grid-row: 3;
    }
    #projects .photo-4{
        grid-column: 2;
        grid-row: 3;
    }
}

@media (max-width:740px){
    #menu{
        grid-template-columns: 200px 200px 80px;
        grid-template-rows: repeat(3, 200px);
        grid-template-areas: 
        "about posts ."
        "projects contact redes"
        "name name  ."
       
    }
    #about {
        display: grid;
        grid-template-columns: 110px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "tile1 tile2"
        "tile3 tile2";

    }
    #about .tile-1{
        grid-area: tile1;
        
    }
    #about .tile-2{
        grid-area: tile2;
    }
    #about .tile-3{
       grid-area: tile3;

    }
       
    #about .tile-2 img{
            width: 150px;
            height: 150px;
        }
        i{ 
            font-size: 40px;
            font-weight: 400;
        }
        i:hover{
            font-size: 45px; 
           
        }
        #posts{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr 1fr;
            grid-template-areas: 
            "herramientas"
            "habilidades"
            "blandas";
            
        }
        
       #posts .div-herramientas{
        grid-area: herramientas;
       }
        #posts .div-habilidades{
            grid-area: habilidades;
            grid-row: 2;
            display: grid;
            grid-template-columns:repeat(2, 1fr);
            grid-template-rows:130px 1fr 1fr 1fr 1fr;
            align-items: center;
            padding: 10px;
        }
        #posts .div-1{
            grid-column: 1/ 3; 
            grid-row: 1;
        }
        
        #posts .div-2 { 
            grid-column: 1;
            grid-row: 2; 
        }
        #posts .div-3{ 
            grid-column: 2; 
            grid-row: 2; 
        }
        #posts .div-4{ grid-column: 1; grid-row: 3; }
        #posts .div-5{ grid-column: 2; grid-row: 3; }
        #posts .div-6{ grid-column: 1; grid-row: 4; }
        #posts .div-7{ grid-column: 2; grid-row: 4; }
        #posts .div-8{ grid-column: 1; grid-row: 5; }
        #posts .div-9{ grid-column: 2; grid-row: 5; }
        
        #posts .div-bla{
            grid-area: blandas;
        }
        
       
}
@media (max-width:450px){
   
    .hiden{
        display: none;
     }
    #menu{
        grid-template-columns: 150px 150px;
        grid-template-rows: 150px 150px 60px 60px;
        grid-template-areas: 
        "about posts "
        "projects contact"
        "redes redes"
        "name name  "
       
    }
    #menu .tile .back{
       
        font-size: 20px;
    }
    #menu .social-tile{
        display: flex;
        
    }
    #about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 100px;
        gap: 10px;
        padding: 10px;
        grid-template-areas: 
        "tile1 "
        "tile2"
        "tile3";

    }
      
    #about .tile-2 img{
            width: 130px;
            height: 130px;
            border-radius: 50%;
            object-fit: cover;
     }
     #posts .div-habilidades{
       display: flex;
       flex-direction: column;
    
        
    }
   

    #projects{
      display: flex;
      flex-direction: column;
    }
}