* {
  box-sizing: border-box;
  max-width: 100%;
}

body{
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    background: #181833;
    color: #d9d7e0;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
.efecto{
    background: rgba(255,255,255, .1);
    box-shadow: 0 25px 45px rgba(0,0,0, .2);
    border-radius: 50px;
    border: 2px solid rgba(255,255,255,.5);
    border-right: 2px solid rgba(255,255,255,.2);   
    border-bottom: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(5px);

}
.ho:hover{
    border: 2px solid darkviolet;
    box-shadow: 2px 2px 10px orange, -2px -2px 10px blue;
}
.ho-font:hover{
    text-shadow: 2px 2px 10px darkviolet, -2px -2px 10px blue;;
}
.glass{
    width: 95%;
    height: 60px; 
    position: relative;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.dis-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.redes{
    width: 70px;
    height: 150px;
    position: fixed;
    top: 40%;
    left: 90%; 
    gap: 10px;
}

nav{
    width: 95%;
    height: 60px;
    position: fixed;  
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    z-index: 1000;
}
ul{
    list-style: none;  
}
a{
    text-decoration: none;
}
a img{
    width: 35px;
    height: 35px;
}
.a-nav{
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 1.2rem;
  color:white;
}
.a-nav:hover{
  transform: scale(1.2);
  color:#e45222;
  padding: 2px 8px;
  border-radius: 20px;
}
h1{
   font-weight: bold;
   font-size: 3rem; 
   text-shadow: 10px 10px 20px rgba(0,0,0, .5);
   margin: 10px;
   color:#2250bb;
   letter-spacing: 4px;
}
h2{
   color:#e45222;
   font-size: 2rem; 
   text-shadow: 10px 10px 20px rgba(0,0,0, .5);
}
h3{
   color:#f0eeee;
   font-size: 1.8rem; 
   padding: 5px;
   margin: 10px;
   letter-spacing: 2px; 
}
footer{
    background:#1b1b1b;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.juegos{
    color: #868686;
    font-size: 1.2rem;
}
#start{   
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    text-align: center;
}
#start img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
#sobre-mi{
    width: 100vw;
    height: 100vh;
    text-align: center;
}
#posts{
    width: 100vw;
    height: 120vh;
    padding-top: 35px;
}
#project {
    width: 100vw;
    padding-top: 70px; 
}
.pro{
    max-width:70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.content-pro {
    width: 300px;
    height: 280px;
    perspective: 1000px;     
}
.card-pro {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; /* permite 3D */
    transition: transform 0.6s ease;
}
.content-pro:hover .card-pro {
    transform: rotateY(180deg); /* gira al hacer hover */
}
.frente, .dorso {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* oculta la cara trasera */
    border-radius: 10px;
}
.frente {
    background: #fff;
}
.frente img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.dorso {
    background: rgba(255,255,255,.1);
    color: #fff;
    font-size: 18px;
    padding: 10px;
    transform: rotateY(180deg); /* dorso inicia al revés */
}
.dorso ul{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.dorso ul li{
    border: 1px solid #001648;
    color: #868686;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8rem;
    background: rgba(0, 0, 0, 0.2);
}
#contact{
    margin-top: 35px;
    width: 100vw;
    height: 100vh;
    gap: 20px;  
}

.form{
    background: rgba(255,255,255,.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    width: 30%;
    border-radius: 10px;   
}
.form-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 90%;  
}
.form-container textarea,
.form-container input{
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    border: none;
}
.content-hab{
    max-width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.content-in{
    max-width: 70%;
    height: 90%;
    background: rgba(255,255,255,.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
   }
.img-icono {
     width: 38px;
     height: 38px;
}
p{
    font-size: 1rem;
}
.button{
    background:#2250bb;
    box-shadow: 10px 10px 20px rgba(0,0,0, .5);
    margin-top: 10px;
    width: 97%;
    padding: 8px;
    border-radius: 10px;
    font-size: 1rem;
    color:#f0eeee;
}
 /*Botón hamburguesa */
.toggle-btn {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    color: #85ec75; 
    cursor: pointer;
    margin-left: 10px;
    z-index: 1100; 
} 

.nav-list {
    display: flex ;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 100%;
}

.card-div{
    background: rgba(255,255,255,.1);
    width: 21%;
    height: 200px;
    padding: 15px 5px 5px 5px;
    border-radius: 10px; 
}
.card-div img{
    width: 50px;
    height: 50px;
}
.burbujas-container {
  position: fixed;
  left: 80px; 
  bottom: 0;
  width: 100px;  
  height: 100vh;
}
.burbujas-container::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none; /* fondo del contenedor no capta eventos */
}

.burbuja {
  position: absolute;
  bottom: -70px; /* inicia fuera de la pantalla */
  width: 60px;
  opacity: 0.8;
  animation: burbujear 9s linear infinite;
  transition: opacity 0.9s ease;
  padding: 10px;
  display: flex;
  align-items: center;
  pointer-events: auto;
  
}
.burbuja .efecto:hover,
.burbuja:hover,
.burbuja:hover img {
  opacity: 0;
  display: none;
}

.cv{
   text-align:center;
   border: 2px solid #001648;
   border-radius: 10px;
   padding: 10px;
   background: rgba(255,255,255,.1);
}
.cv a{
    color: #f0eeee;
}
.cv a:hover{
 font-size: 1.2rem;
}

/* Animaciones para burbujas */
@keyframes burbujear {
  0% {
    transform: translateX(0) translateY(0) scale(0.5);
    opacity: 0.3;
  }
  25% {
    transform: translateX(60px) translateY(-25vh) scale(0.7);
    opacity: 0.6;
  }
  50% {
    transform: translateX(-60px) translateY(-50vh) scale(0.8);
    opacity: 0.7;
  }
  75% {
    transform: translateX(60px) translateY(-75vh) scale(0.9);
    opacity: 0.9;
  }

  100% {
    transform: translateX(-60px) translateY(-100vh) scale(1);
    opacity: 0;
  }
}

/* Variaciones para cada burbuja */
.burbuja:nth-child(1) { animation-duration: 6s; animation-delay: 0s; }
.burbuja:nth-child(2) { animation-duration: 8s; animation-delay: 2s; }
.burbuja:nth-child(3) { animation-duration: 7s; animation-delay: 1s; }
.burbuja:nth-child(4) { animation-duration: 9s; animation-delay: 3s; }
.burbuja:nth-child(5) { animation-duration: 6.5s; animation-delay: 4s; }
.burbuja:nth-child(6) { animation-duration: 8.5s; animation-delay: 2.5s; }
.burbuja:nth-child(7) { animation-duration: 7.5s; animation-delay: 5s; }
.burbuja:nth-child(8) { animation-duration: 9.5s; animation-delay: 1.5s; }


#start h1, #start h3 {
  opacity: 0;
  transform: translateY(100px);
  animation: subirDesdeAbajo 1s ease-out forwards;
}

#start h3 {
  animation-delay: 0.3s; /* un pequeño retardo para que aparezca después del h1 */
}

@keyframes subirDesdeAbajo {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (max-width: 768px){
    footer{
        flex-direction: column;
        height: 100%;
    }


    h1{
    font-size: 2.5rem; 
    }
    h2{
    font-size: 1.8rem;
    }
    h3{
    font-size: 1.5rem;  
    }

    .content-in{
        width: 100%;
        padding: 10px ;
    }
    .img-icono {
     width: 30px;
     height: 30px;
   }
    .redes{
        display: none;
    }
    .toggle-btn{
        display: flex;
       
    }
    .nav-list {
        display: none;
        
    }
    .glass{
        align-items:start;

    }
    
    .nav-list.active {
    margin-right: -60px;
    display: flex;
    flex-direction: column;
    background: rgba(8, 8, 8, 0.4);
    width: 80vh;
    height: 85vh;
    gap:10px;
    }
    #sobre-mi{
        height: 100%;
    }
    #posts{
        height: 100%;
        width: 100%;
        padding-top: 20px;
    }
    .hidden{
        display: none;
    }
    .form{
        width: 78%;
        margin: 10px;
    }
    #contact{
        height: 100%;
    }
    .card-div{
        width: 85%;
        height: 120px;
    }
    .burbujas-container{
        display: none;
    }
}